/***************
****************
FONTS
****************
****************/
@font-face {
	font-family: 'Georgia';
	src: url('../fonts/9605.eot');
	src: local('☺'), url('../fonts/9605.woff') format('woff'), url('../fonts/9605.ttf') format('truetype'), url('../fonts/9605.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

/***************
****************
$$$
****************
****************/

$FontsGeo:'Georgia';
$FontsArial:'Arial';
$FontsTimes:"Times New Roman";
$btn-back-color:rgb(241, 205, 179);
$btn-text-color:rgb(41, 41, 41);
$white-color: rgb(255,255,255);
$btn-back-white:rgb(255,255,255);

/***************
****************
@@@
****************
****************/
@mixin back-img ($back) {
	background-image: url($back);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/***************
****************
Btn
****************
****************/

.btn{
	font-family: $FontsGeo;
	color: $btn-text-color;
	border-radius:30px;
	border: 3px solid $btn-back-color ;
	transition: all .5s linear;
}

.btn-gold{
	font-size: 1.1em;
	background-color: $btn-back-color;
	&:hover{
		background-color: $btn-back-white;
	}
}

.btn-white{
	background:$white-color;
	transition: all .5s linear;
	&:hover{
		background:$btn-back-color;
	}
}

.btn-header{
	width: 205px;
	padding:1.2rem 0 ;
}

.btn-slider{
	width: 185px;
	padding:1.1rem 0 ;
	font-size: 17px; 
}

.btn-gold-wwide{
	width: 260px;
	padding: 0.9rem 0 ;
}
.btn-donation{
		width: 320px;
		height: 50px;
		border-radius:9px;
		padding: 1rem;
}
/***************
****************
Html
****************
****************/
html {
	font-size: 10px;
}

body {
	font-size: 16px;
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1170px;
}
a{
	&:hover{
		text-decoration: none;
	}
}
/***************
****************
HEDER
****************
****************/
header {
	@include back-img ("../img/header/Header-Back.jpg");
	height: 100vh;
	overflow: hidden;
	.navbar {
		padding-top:6rem;
		.navbar-brand {
			.navbar__logo-title {
				display: inline-block;
				font-family: $FontsGeo;
				font-size: 2em;
				color: rgb(241, 205, 179);
				width: 100%;
				line-height: 1;
			}
			.navbar__logo-subtitle {
				display: inline-block;
				font-size: .9em;
				word-spacing: 1px;
				font-family: $FontsArial;
				color: $white-color;
				line-height: 1.8;
			}
		}
		.nav-item {
			.nav-link {
				margin-right: 3.5rem;
				font-size: 15px;
				font-family: $FontsArial;

				color: rgba(205, 205, 205, .8);
				padding: 0;
				padding-bottom: 0.5rem;

				position: relative;

				&:before {
					content: "";
					display: block;
					width: 0%;
					height: 4px;
					border-radius: 2px;
					background-color: #f1cdb3;
					position: absolute;
					top: 25px;
					left: 0;
					
					transition: all 0.5s ease-in-out;
				}
				&:hover {
					opacity: 1;
				}
				&:hover:before, 
				&:focus:before {
					width: 100%;
				}
			}
		}
	}
	.header__main{
		padding-top: 22rem;
		h1{
			font-family: $FontsGeo;
			font-size: 44px;
			color: rgb(255, 255, 255); 
			max-width: 350px;
			padding-bottom: 3rem;
		}
		p{	
			font-size: 15px;
			font-family: $FontsArial;
			color: rgb(205, 205, 205);
			line-height: 1.6;
			padding-bottom: 3rem;
		}
	}
}

.main{
	.title{
		padding-top: 6.5rem;
		padding-bottom:6rem;
		.title__h1{
			font-size: 35px;
			font-family: $FontsGeo;
			color: rgb(84, 84, 84);
			line-height: 1.286;
		}
	}
	.main__about {
		padding-top: 8rem;
		padding-bottom: 16rem;
		h1{
			font-size: 35px;
			font-family: $FontsGeo;
			color: rgb(84, 84, 84);
			line-height: 1.286;
		}
		p{
			font-size: 15px;
			font-family: $FontsArial;
			color: rgb(76, 76, 76);
			line-height: 1.6;
		}
	}
	.main__section{
		background-color:#f6f6f6;
		padding-bottom: 4rem;
		
		.animals__card{
			border-radius: 9px;
			background-color: rgb(250, 250, 250);
			text-align: center;
			
			margin-left: 2.5rem;
			margin-right: 2.5rem;
			transition: all .5s linear;
			&:hover{
				transform: scale(1.1);
				box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);				
			}
			&:focus{
				outline: none;
			}
				img{
					max-height: 207px;
					height: 100%;
					margin:3.5rem auto 4rem;
				}
				h4{
					margin-bottom: 2.4rem;
					
					font-size: 20px;
					font-family: $FontsGeo;
					color: rgb(84, 84, 84);
					line-height: 2.25;
				}
			.btn{
				margin-bottom: 3rem;
				}
		}
		.slick-list{
			height: 500px;
			padding-top: 2.5rem;
			margin-bottom: 4rem;
		}
		.slick-prev{
			background:url(../img/Main_slider/Arrow/long-left-arrow.png);
			left: -55px;
			width: 50px;
			height: 50px;
			&::before{
				content:"";
			}
			&:hover{
				border-radius:50%;
				background-color:$btn-back-color;
			}
		}
		.slick-next{
			background:url(../img/Main_slider/Arrow/long-right-arrow.png);
			right: -55px;
			width: 50px;
			height: 50px;
			&::before{
				content:"";
			}
			&:hover{
				border-radius:50%;
				background-color:$btn-back-color;
			}
		}
	}
	.main__help{
		.main__help-items{
			margin-right: 1rem;
			margin-left: 1rem;
			margin-bottom: 7.5rem;
			img{
				margin-bottom: 2.5rem;
				height: 58px;
			}
			p{
				font-size: 20px;
				font-family: $FontsGeo;
				color: rgb(84, 84, 84);
			}
		}
	}	

	.main__donation{
		background-color:#f6f6f6;
		.main__donation_content{
			margin-left: 2.5rem;
			h1{
				margin-bottom: 1rem;
			}
			.btn-donation{
				margin-bottom: 2rem;
				display: flex;
				img{
					margin-right: 1.5rem;
					margin-left: 2.3rem;
				}
			}
			.donation{
				font-size: 12px;
				font-family: $FontsArial;
				color: rgb(178, 178, 178);
				font-style: italic;
				line-height: 1.5;
			}
		}
	}
}

.footer{
	@include back-img ("../img/Footer__icon/Footer-Back.jpg");
	padding-top: 8rem;
	h1{
		font-size: 35px;
		font-family: $FontsGeo;
		color: rgb(255, 255, 255);
		line-height: 1.286;
		margin-bottom: 2rem;
		text-align: left;
		word-spacing: 5px;
	}
	.footer__item{
		margin-bottom: 3.5rem;
		a{
			font-size: 20px;
			font-family: $FontsTimes;
			color: $btn-back-color;
			text-align: right;
			
			img{
				margin-right: 1.5rem;
			}
		}
	}
	
}

/***************
****************
Media
****************
****************/
@media screen and (max-width:1025px){
	header{
		height: 80vh;
		background-position: center left 57%;
		.navbar .nav-item .nav-link{
			&:before{
				content:none;
			}
		}
	}
	.footer{
		background-position: center left 55%;
	}
	.slick-next ,
	.slick-arrow{
		display: none!important;
	}
}
@media screen and (max-width:769px){
	header{
		height: 100vh;
		background-position: center left 66%;
		.header__main {
			padding-top: 26rem;
			h1{
				margin: auto;
			}	
		}
		
		.navbar .nav-item .nav-link{
			margin-right: 2rem;
			margin-top: 1rem;
		}
	}
	.footer{
		background-position: center left 0;
		.footer__card{
			justify-content: center;
		}
	}
}

@media screen and (max-width:500px){
	header {
		.navbar{
			padding-top: 2.5rem;
		}
		.header__main {
			padding-top: 21rem;
		}
	}

	.main{
		.main__about{
			padding-bottom: 8rem;
		}
		
		.main__help .main__help-items{
			margin-bottom: 2rem;
		}
		 .main__donation .main__donation_content{
			 margin-left: 0;
		 }
	}
	
}
