@charset "UTF-8";
/***************
****************
FONTS
****************
****************/
@font-face {
  font-family: 'Georgia';
  src: url("../fonts/9605.eot");
  src: local("☺"), url("../fonts/9605.woff") format("woff"), url("../fonts/9605.ttf") format("truetype"), url("../fonts/9605.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

/***************
****************
$$$
****************
****************/
/***************
****************
@@@
****************
****************/
/***************
****************
Btn
****************
****************/
.btn {
  font-size: 1.1em;
  font-family: "Georgia";
  color: #292929;
  padding: 11px 47px;
  border-radius: 30px;
  border: 3px solid #f1cdb3;
  -webkit-transition: all .7s linear;
  transition: all .7s linear;
}

.btn-gold {
  background-color: #f1cdb3;
}

.btn-gold:hover {
  background-color: #fff;
}

/***************
****************
Html
****************
****************/
html {
  font-size: 10px;
}

body {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
}

/***************
****************
HEDER
****************
****************/
header {
  background-image: url("../img/header/Header-Back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 925px;
}

header .navbar {
  padding-top: 60px;
}

header .navbar .navbar-brand:hover {
  text-decoration: none;
}

header .navbar .navbar-brand .navbar__logo-title {
  display: inline-block;
  font-family: "Georgia";
  font-size: 2em;
  color: #f1cdb3;
  width: 100%;
  line-height: 1;
}

header .navbar .navbar-brand .navbar__logo-subtitle {
  display: inline-block;
  font-size: .9em;
  word-spacing: 1px;
  font-family: "Arial";
  color: #fff;
  line-height: 1.8;
}

header .navbar .nav-item .nav-link {
  margin-right: 35px;
  font-size: 15px;
  font-family: "Arial";
  color: rgba(205, 205, 205, 0.8);
  padding: 0;
  padding-bottom: 5px;
  position: relative;
}

header .navbar .nav-item .nav-link:before {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  border-radius: 2px;
  background-color: #f1cdb3;
  position: absolute;
  top: 25px;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .nav-item .nav-link:hover {
  text-decoration: none;
  opacity: 1;
}

header .navbar .nav-item .nav-link:hover:before, header .navbar .nav-item .nav-link:focus:before {
  width: 100%;
}

header .header__main {
  padding-top: 220px;
  padding-bottom: 268px;
}

header .header__main h1 {
  font-family: "Georgia";
  font-size: 44px;
  color: white;
  max-width: 350px;
  padding-bottom: 30px;
}

header .header__main p {
  font-size: 15px;
  font-family: "Arial";
  color: #cdcdcd;
  line-height: 1.6;
  padding-bottom: 30px;
}

.main .main__about {
  padding-top: 80px;
  padding-bottom: 160px;
}

.main .main__about h1 {
  font-size: 35px;
  font-family: "Georgia";
  color: #545454;
  line-height: 1.286;
  width: 315px;
}

.main .main__about p {
  font-size: 15px;
  font-family: "Arial";
  color: #4c4c4c;
  line-height: 1.6;
}
/*# sourceMappingURL=main.css.map */