/***************
****************
FONTS
****************
****************/
@font-face {
	font-family: 'Georgia';
	src: url('../fonts/9605.eot');
	src: local('☺'), url('../fonts/9605.woff') format('woff'), url('../fonts/9605.ttf') format('truetype'), url('../fonts/9605.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

/***************
****************
$$$
****************
****************/

$FontsGeo:'Georgia';
$btn-back-color:rgb(241, 205, 179);
$btn-text-color:rgb(41, 41, 41);

/***************
****************
@@@
****************
****************/
@mixin back-img ($back) {
	background-image: url($back);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/***************
****************
Btn
****************
****************/

.btn{
	font-size: 1.1em;
	font-family: $FontsGeo;
	color: $btn-text-color;
	background-color: $btn-back-color;
	padding: 12px 48px;
	border-radius:30px;
}


/***************
****************
Html
****************
****************/
html {
	font-size: 10px;
}

body {
	font-size: 16px;
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1170px;
}

/***************
****************
HEDER
****************
****************/
header {
	@include back-img ("../img/header/Header-Back.jpg");
	
	.navbar {
		padding-top: 60px;
		.navbar-brand {
			&:hover {
				text-decoration: none;
			}
			.navbar__logo-title {
				display: inline-block;
				font-family: $FontsGeo;
				font-size: 2em;
				color: rgb(241, 205, 179);
				width: 100%;
				line-height: 1;
			}
			.navbar__logo-subtitle {
				display: inline-block;
				font-size: .9em;
				word-spacing: 1px;
				font-family: "Arial";
				color: #fff;
				line-height: 1.8;
			}
		}
		.nav-item {
			.nav-link {
				margin-right: 35px;
				font-size: 15px;
				font-family: "Arial";

				color: rgba(205, 205, 205, .8);
				padding: 0;
				padding-bottom: 5px;

				position: relative;

				&:before {
					content: "";
					display: block;
					width: 0%;
					height: 4px;
					border-radius: 2px;
					background-color: #f1cdb3;
					position: absolute;
					top: 25px;
					left: 0;
					
					transition: all 0.5s ease-in-out;
				}
				&:hover {
					text-decoration: none;
					opacity: 1;
				}
				&:hover:before, 
				&:focus:before {
					width: 100%;
				}
			}
		}
	}
	.header__main{
		padding-top: 220px;
		padding-bottom: 220px;
		
		h1{
			font-family: $FontsGeo;
			font-size: 44px;
			color: rgb(255, 255, 255); 
			max-width: 350px;
		}
		p{	
			font-size: 15px;
			font-family: "Arial";
			color: rgb(205, 205, 205);
			line-height: 1.6;
		}
	}
}