@charset "UTF-8";
/***************
****************
FONTS
****************
****************/
@font-face {
  font-family: 'Georgia';
  src: url("../fonts/9605.eot");
  src: local("☺"), url("../fonts/9605.woff") format("woff"), url("../fonts/9605.ttf") format("truetype"), url("../fonts/9605.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

/***************
****************
$$$
****************
****************/
/***************
****************
@@@
****************
****************/
/***************
****************
Btn
****************
****************/
.btn {
  font-family: "Georgia";
  color: #292929;
  border-radius: 30px;
  border: 3px solid #f1cdb3;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.btn-gold {
  font-size: 1.1em;
  background-color: #f1cdb3;
}

.btn-gold:hover {
  background-color: #fff;
}

.btn-white {
  background: #fff;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.btn-white:hover {
  background: #f1cdb3;
}

.btn-header {
  width: 205px;
  padding: 12px 0;
}

.btn-slider {
  width: 185px;
  padding: 11px 0;
  font-size: 17px;
}

.btn-gold-wwide {
  width: 260px;
  padding: 9px 0;
}

.btn-donation {
  width: 320px;
  height: 50px;
  border-radius: 9px;
  padding: 10px;
}

/***************
****************
Html
****************
****************/
html {
  font-size: 10px;
}

body {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
}

a:hover {
  text-decoration: none;
}

/***************
****************
HEDER
****************
****************/
header {
  background-image: url("../img/header/Header-Back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

header .navbar {
  padding-top: 60px;
}

header .navbar .navbar-brand .navbar__logo-title {
  display: inline-block;
  font-family: "Georgia";
  font-size: 2em;
  color: #f1cdb3;
  width: 100%;
  line-height: 1;
}

header .navbar .navbar-brand .navbar__logo-subtitle {
  display: inline-block;
  font-size: .9em;
  word-spacing: 1px;
  font-family: "Arial";
  color: #fff;
  line-height: 1.8;
}

header .navbar .nav-item .nav-link {
  margin-right: 35px;
  font-size: 15px;
  font-family: "Arial";
  color: rgba(205, 205, 205, 0.8);
  padding: 0;
  padding-bottom: 5px;
  position: relative;
}

header .navbar .nav-item .nav-link:before {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  border-radius: 2px;
  background-color: #f1cdb3;
  position: absolute;
  top: 25px;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .nav-item .nav-link:hover {
  opacity: 1;
}

header .navbar .nav-item .nav-link:hover:before, header .navbar .nav-item .nav-link:focus:before {
  width: 100%;
}

header .header__main {
  padding-top: 220px;
}

header .header__main h1 {
  font-family: "Georgia";
  font-size: 44px;
  color: white;
  max-width: 350px;
  padding-bottom: 30px;
}

header .header__main p {
  font-size: 15px;
  font-family: "Arial";
  color: #cdcdcd;
  line-height: 1.6;
  padding-bottom: 30px;
}

.main .title {
  padding-top: 65px;
  padding-bottom: 60px;
}

.main .title .title__h1 {
  font-size: 35px;
  font-family: "Georgia";
  color: #545454;
  line-height: 1.286;
}

.main .main__about {
  padding-top: 80px;
  padding-bottom: 160px;
}

.main .main__about h1 {
  font-size: 35px;
  font-family: "Georgia";
  color: #545454;
  line-height: 1.286;
}

.main .main__about p {
  font-size: 15px;
  font-family: "Arial";
  color: #4c4c4c;
  line-height: 1.6;
}

.main .main__section {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}

.main .main__section .animals__card {
  border-radius: 9px;
  background-color: #fafafa;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.main .main__section .animals__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
}

.main .main__section .animals__card:focus {
  outline: none;
}

.main .main__section .animals__card img {
  max-height: 207px;
  height: 100%;
  margin: 35px auto 40px;
}

.main .main__section .animals__card h4 {
  margin-bottom: 24px;
  font-size: 20px;
  font-family: "Georgia";
  color: #545454;
  line-height: 2.25;
}

.main .main__section .animals__card .btn {
  margin-bottom: 30px;
}

.main .main__section .slick-list {
  height: 500px;
  padding-top: 25px;
  margin-bottom: 40px;
}

.main .main__section .slick-prev {
  background: url(../img/Main_slider/Arrow/long-left-arrow.png);
  left: -55px;
  width: 50px;
  height: 50px;
}

.main .main__section .slick-prev::before {
  content: "";
}

.main .main__section .slick-prev:hover {
  border-radius: 50%;
  background-color: #f1cdb3;
}

.main .main__section .slick-next {
  background: url(../img/Main_slider/Arrow/long-right-arrow.png);
  right: -55px;
  width: 50px;
  height: 50px;
}

.main .main__section .slick-next::before {
  content: "";
}

.main .main__section .slick-next:hover {
  border-radius: 50%;
  background-color: #f1cdb3;
}

.main .main__help .main__help-items {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 75px;
}

.main .main__help .main__help-items img {
  margin-bottom: 25px;
  height: 58px;
}

.main .main__help .main__help-items p {
  font-size: 20px;
  font-family: "Georgia";
  color: #545454;
}

.main .main__donation {
  background-color: #f6f6f6;
}

.main .main__donation .main__donation_content {
  margin-left: 25px;
}

.main .main__donation .main__donation_content h1 {
  margin-bottom: 10px;
}

.main .main__donation .main__donation_content .btn-donation {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main__donation .main__donation_content .btn-donation img {
  margin-right: 15px;
  margin-left: 23px;
}

.main .main__donation .main__donation_content .donation {
  font-size: 12px;
  font-family: "Arial";
  color: #b2b2b2;
  font-style: italic;
  line-height: 1.5;
}

.footer {
  background-image: url("../img/Footer__icon/Footer-Back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
}

.footer h1 {
  font-size: 35px;
  font-family: "Georgia";
  color: white;
  line-height: 1.286;
  margin-bottom: 20px;
  text-align: left;
  word-spacing: 5px;
}

.footer .footer__item {
  margin-bottom: 35px;
}

.footer .footer__item a {
  font-size: 20px;
  font-family: "Times New Roman";
  color: #f1cdb3;
  text-align: right;
}

.footer .footer__item a img {
  margin-right: 15px;
}

/***************
****************
Media
****************
****************/
@media screen and (max-width: 1025px) {
  header {
    height: 80vh;
    background-position: center left 57%;
  }
  header .navbar .nav-item .nav-link:before {
    content: none;
  }
  .footer {
    background-position: center left 55%;
  }
  .slick-next,
  .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 769px) {
  header {
    height: 100vh;
    background-position: center left 66%;
  }
  header .header__main {
    padding-top: 260px;
    padding-bottom: 160px;
  }
  header .header__main h1 {
    margin: auto;
  }
  header .navbar .nav-item .nav-link {
    margin-right: 20px;
    margin-top: 10px;
  }
  .footer {
    background-position: center left 0;
  }
  .footer .footer__card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  header .navbar {
    padding-top: 25px;
  }
  header .header__main {
    padding-top: 210px;
  }
  .main .main__about {
    padding-bottom: 80px;
  }
  .main .main__help .main__help-items {
    margin-bottom: 20px;
  }
  .main .main__donation .main__donation_content {
    margin-left: 0;
  }
}
/*# sourceMappingURL=main.css.map */